body {
    /*背景图片*/
    background: url(../img/background.jpeg) no-repeat 0 0 fixed;
    background-size: cover;
}

/*大屏幕*/
@media (min-width:1365px){
    #userMenu {width:300px;}
    #rightPanel {
        margin-left: 336px;
    }
    #mapContainer {border-radius: 0 50px 50px 0;}
    #userMenuDropDown {width:250px;}
    #adjacentCityInfo{
        width: 25%;
    }
    .regLogin{
        border-radius:8px!important;
        font-size:40px!important;
        border-radius: 1px;
        box-shadow: 0px 0px 0px 20px rgba(0,0,0,0.3);
        padding: 8px;
        background-color: lightgrey;
        margin-top: 20px;
        transform: translateX(-10%);
        width: 200px;
    }
}
/*中小屏幕*/
@media (min-width:1024px) and (max-width:1364px){
    /*rightPanel里userMenu和customContent的样式*/
    #userMenu {width:200px;}
    #mapMenu {display: none!important;}
    #sidePanelSearchBox {width:100px;}
    #rightPanel {
        margin-left: 236px;
    }
    #userMenuDropDown {width:150px;}
    #adjacentCityInfo{
        width: 45%;
    }
    .regLogin{
        border-radius:16px!important;
        font-size:30px!important;
        border-radius: 1px;
        box-shadow: 0px 0px 0px 20px rgba(0,0,0,0.3);
        padding: 8px;
        background-color: lightgrey;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        width: 200px;
    }
}
/*小屏幕*/
@media (max-width:1023px){
    #mapMenu {display: none!important;}
    #userMenu {
        display: none;
    }
    #rightPanel {
        margin-left: 16px;
    }
    #adjacentCityInfo{
        width: 80%;
    }
    .regLogin{
        width: 95%;
        border-radius:32px!important;
        font-size:20px!important;
        border-radius: 1px;
        box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.3);
        padding: 4px;
        background-color: lightgrey;
        margin-top: 10px;
        margin-right: 10px;
    }
}

/*地图mapMenu,mapLayer和popupInfo的样式*/
#mapLayer {height:800px;}
#mapMenu {height:800px; overflow-y:scroll;}
#mapMenu a{font-size:15px;}
.popupInfo p{text-indent:0}
.popupInfo p,.popupInfo h3{margin:0;padding:0;}
.popupInfo a:link,.popupInfo a:visited {font-size:15px;color:red;text-decoration:none}
.popupInfo a:hover,.popupInfo a:active {font-size:15px;color:darkorange;text-decoration:underline}

/*个性化horizontal rule*/
.myHorizontalRule{
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
.myHorizontalRule:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #f1f1f1;
}

/*不带scrollbar的纵向scrollbar(￣▽￣)""*/
.coolScroll-y{
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}
.coolScroll-y::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

/*不带scrollbar的横向scrollbar(￣▽￣)""*/
.coolScroll-x{
    white-space: nowrap;
    display:block!important;
    overflow-x: scroll!important;
    scrollbar-width: none!important; /* Firefox */
    -ms-overflow-style: none!important;  /* IE 10+ */
}
.coolScroll-x::-webkit-scrollbar { /* WebKit */
    width: 0!important;
    height: 0!important;
}



/*image map responsiveness*/
img[usemap] {
    border: none;
    height: auto;
    max-width: 100%;
    width: auto;
}

/*fadeout提醒*/
.popupFadeout{animation:fading 1s forwards; animation-timing-function: ease-in;}@keyframes fading{0%{opacity:1}75%{opacity:1}95%{opacity:0.3}97%{opacity:0.2}99%{opacity:0.1}100%{opacity:0}}

/*avatar大小设置*/
.avatar{
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.productionBox {
    background-image: url('https://p0.ssl.qhimgs4.com/t018dbb893bbb5db6d4.jpg');
    background-size: cover;
    background-position: center;
}

.workBox {
    background-image: url('http://images.china.cn/attachement/jpg/site1004/20090825/001ec949c2cd0bfd944d1c.jpg');
    background-size: cover;
    background-position: center;
}

.welcomeImage {
    background-image: url('http://pic.51yuansu.com/pic/cover/00/03/05/5715851be77b0_610.jpg');
    background-size: cover;
    background-position: center;
}

.wikiFrame{
    -ms-overflow-style: none;
}

.wikiFrame::-webkit-scrollbar{
    display: none;
}

.workStatsBox {
    background-image: url('https://www.worldsteel.org/zh/dam/jcr:8ed7c106-f49e-4631-83e5-9c87a32e2e50/Statistics-section.jpg');
    background-size: cover;
    background-position: center;
}

.trainEffectBox {
    background-image: url('https://www.fullon-hotels.com.tw/ym/public/facility/gallery/image144_1300_1.jpg');
    background-size: cover;
    background-position: center;
}

.trainBox {
    background-image: url('http://image.9game.cn/2016/12/7/15202207.jpg');
    background-size: cover;
    background-position: center;
}

.trainStatsBox {
    background-image: url('http://www.paobushijie.com/images/img/jianxiexunlian/interval_training1.jpg');
    background-size: cover;
    background-position: center;
}


.workntrainButton {
    border-radius: 1px; box-shadow: 0px 0px 0px 20px rgba(0,0,0,0.3); background: #ddd; padding: 8px; margin-left: 50%; transform: translateX(-50%); width: 400px;
}

.welcomeBox {
    border-radius: 1px; box-shadow: 0px 0px 0px 20px rgba(0,0,0,0.3); background: #ddd; padding: 8px; margin-left: 50%; transform: translateX(-50%); width: 60%;
}

#customContent{
    transition: margin-left .5s;
}

.fn{
    float: none!important;
}

.onScrollMargin{
    margin-left: 0;
}

.country__card.hover-in {
    transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out, -webkit-transform .2s ease-out; }
.country__card.hover-out {
    cursor: pointer;
    transition: -webkit-transform .2s ease-in;
    transition: transform .2s ease-in;
    transition: transform .2s ease-in, -webkit-transform .2s ease-in; }

/*leaderboard更新数据transition*/
.update-enter-active {
    transition: all .5s ease-in;
}
.update-enter, .update-leave-to {
    opacity: .5;
    background-color: red;
    color: white;
    font-weight: 800;
    font-size: 24px;
}

/*市场和家产里的item*/
.item {
    margin: 5px;
    border: 5px solid #f1f1f1;
    float: left;
}
.item:hover{
    border: 5px solid green;
    transition: all 0.5s ease;
}

.itemMouseClick{
    border: 5px solid darkgreen;
    transition: all 0.3s ease;
}

.item img {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.amount {
    padding: 10px;
    text-align: center;
}

.print-wall {
    overflow: auto;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #888;
    height: 300px;
    max-width: 800px;
    width: 95%;
    text-align: left;
}
.print-wall p {
    margin: 10px 0px;
    word-wrap: break-word;
}
