<!DOCTYPE html>
<html lang="zh">
<head>
  <title>转世三国-模拟三国人生</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/w3.css">
  <link rel="stylesheet" href="../css/all.css">
  <link rel="stylesheet" href="../css/loading.css">
  <link rel="stylesheet" href="../css/my-style.css">
  <link rel="icon" href="../img/logo.png"/>
  <style>
    .popUpText{
      color: Green; font-size: 25px;
    }
  </style>
</head>

<body class="w3-animate-opacity">

<!--navSideBar placeholder-->
<div style="position: relative" id="nav-placeholder"></div>

<!-- 正文内容-->
<div id="customContent" style="margin-left:0" class="w3-row">

  <!-- 用户菜单 placeholder-->
  <div id="userMenu" class="coolScroll-y w3-col w3-light-gray w3-card-4 w3-center w3-round-xxlarge w3-margin-left w3-margin-right" style="margin-top: 80px; height: 90vh; position:fixed"></div>

  <div id="rightPanel" class="w3-rest w3-card-4 w3-round-xxlarge w3-margin-right w3-light-gray w3-center" style="margin-top:80px;"><br>

    <!--伤害情况提示-->
    <div class="damageNotifier popupFadeout w3-display-topmiddle w3-third w3-round-xxlarge w3-yellow w3-card-4" style="z-index: 2; display: none; position: fixed; height: 50px;line-height: 45px;">
      <div style="text-align: center;" class="popUpText"><span id="modifier"></span><span>您造成了</span><span id="damage"></span><span>点伤害</span></div>
    </div>

<!--    战场名称,倒计时,进攻方,防守方-->
    <div class="battleDataContainer">
      <script id="battlePanelData" type="text/x-handlebars-template">
        {{#each battleData}}
        <h1><span class="w3-gray w3-padding-large w3-round-xxlarge">{{{cityName}}}争夺战</span></h1><br>
        <p class="workntrainButton"><span style="font-weight:800;" class="w3-large">离战场结束还有:</span><span style="font-weight:800;" class="w3-text-red" id="battleCountDown"></span></p><br>
        <!-- 进攻方-->
        <div class="w3-red w3-round-xxlarge sideInfo w3-third w3-center">
          <h3>进攻方: {{{invaderName}}}</h3>
        </div>
        <div class="sideInfo w3-third w3-padding w3-center"></div>
        <div class="w3-green w3-round-xxlarge sideInfo w3-third w3-center">
          <h3>防守方: {{{defenderName}}}</h3>
        </div>
        {{/each}}
      </script>
    </div>
      <div class="sideInfo w3-half">
      <p class="w3-red">总伤害: <span id="invaderTotalDmg"></span></p></div>

      <div class="sideInfo w3-half">
      <p class="w3-green">总伤害: <span id="defenderTotalDmg"></span></p></div>

<!-- 排行榜-->
    <div class="w3-col w3-container">
<!--      进攻方伤害排行-->
      <div id="invaderRank" class="w3-half">
        <div id="topRankData" class="w3-half">
          <h3>进攻方伤害排行</h3>
          <table class="w3-table-all w3-card-4" style="width: 80%; margin: auto">
            <thead><tr><th>排名</th><th>伤害</th></tr></thead>
            <tbody>
            <tr v-for="rankData in rankDatas">
              <td><transition name="update"><span :key="rankData.rank">{{rankData.rank}}</span></transition></td>
              <td><transition name="update"><span :key="rankData.damage">{{rankData.damage}}</span></transition></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div id="adjacentRankData" class="w3-half">
          <h3>预计排名</h3>
          <table class="w3-table-all w3-card-4" style="width: 80%; margin: 0px auto">
            <thead><tr><th>排名</th><th>伤害</th></tr></thead>
            <tbody>
            <tr v-for="rankData in rankDatas">
              <td><transition name="update"><span :key="rankData.rank">{{rankData.rank}}</span></transition></td>
              <td><transition name="update"><span :key="rankData.damage">{{rankData.damage}}</span></transition></td>
            </tr>
            </tbody>
          </table><br>
          <h3>预计伤害</h3>
          <p class="w3-large" id="myInvaderDmg"></p>
        </div>
    </div>

      <div id="defenderRank" class="w3-half">

      <div id="topRankDataDef" class="w3-half">
        <h3>防守方伤害排行</h3>
          <table class="w3-table-all w3-card-4" style="width: 80%; margin: auto">
            <thead><tr><th>排名</th><th>伤害</th></tr></thead>
            <tbody>
            <tr v-for="rankData in rankDatas">
              <td><transition name="update"><span :key="rankData.rank">{{rankData.rank}}</span></transition></td>
              <td><transition name="update"><span :key="rankData.damage">{{rankData.damage}}</span></transition></td>
            </tr>
            </tbody>
          </table>
      </div>

        <div id="adjacentRankDataDef" class="w3-half">
          <h3>预计排名</h3>
          <table class="w3-table-all w3-card-4" style="width: 80%; margin: 0px auto">
            <thead><tr><th>排名</th><th>伤害</th></tr></thead>
            <tbody>
            <tr v-for="rankData in rankDatas">
              <td><transition name="update"><span :key="rankData.rank">{{rankData.rank}}</span></transition></td>
              <td><transition name="update"><span :key="rankData.damage">{{rankData.damage}}</span></transition></td>
            </tr>
            </tbody>
          </table><br>
        <h3>预计伤害</h3>
        <p class="w3-large" id="myDefenderDmg"></p>
    </div>
      </div>
    </div>

<!-- 攻击形象+预计排名-->
  <div class="w3-col w3-container" style="margin-top: 50px;">
    <div class="sideInfo w3-third w3-center" >
      <div class="country__card">
        <img id="invaderFigure" src="" alt="进攻方形象" style="height: 60vh" onclick="openInvaderModal();">
      </div>
    </div><!--    end of 进攻方形象-->


    <div class="w3-third w3-center w3-panel w3-gray w3-round-large" id="messageBox" style="height:60vh; position:relative">
      <h3 class="atWar w3-red" style="display: none;">交战中!</h3>
      <p id="refreshBox" style="display: none;">距离下次攻击还有:<span id="refreshCountDown"></span></p>
      <h3 id="warHistory" style="display: none;">伤害历史</h3>
      <img class="atWar" src="../img/gear.gif" style="display:none;width: 100px;" alt="战斗中gif">
      <div id="messageContainer" style="overflow-y: scroll; height: 30vh; position: absolute;bottom: 50px;"><table id="SpreadsheetTable"><tbody id="tableBody"></tbody></table></div>
      </div>


    <div class="sideInfo w3-third w3-center" >
      <div class="country__card">
        <img id="defenderFigure" src="" alt="防守方形象" style="height: 60vh" onclick="openDefenderModal();">
      </div>
    </div><!--    end of 防守方排行-->
  </div>

<!--  攻击modal-->
  <div id="invaderModal" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:800px">

<!--      攻击按钮-->
      <span onclick="document.getElementById('invaderModal').style.display='none'" style="color:black;"class="w3-button w3-xlarge w3-transparent w3-display-topright" title="关闭窗口">x</span><br>
        <div class="workntrainButton" style="display: none; margin-top: 50px;margin-bottom: 50px;">
          <p class="w3-large warNotifier w3-text-red"></p>
          <img class="alreadyAtWar" src="../img/gear.gif" style="display:none;width: 100px;" alt="战斗中gif">
          <button class="w3-padding-large w3-round-xxlarge onWar" style="display:none" onclick="dealDamageInvaderSide()"></button>
        </div>

      <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
        <button onclick="document.getElementById('invaderModal').style.display='none'" type="button" class="w3-button w3-red w3-left">关闭</button>
      </div>

      <div></div>
    </div> <!--end of攻击modal-->
  </div>
    <!--  攻击modal-->
    <div id="defenderModal" class="w3-modal">
      <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:800px">
        <!--      防御按钮-->
        <span onclick="document.getElementById('defenderModal').style.display='none'" style="color:black;"class="w3-button w3-xlarge w3-transparent w3-display-topright" title="关闭窗口">x</span><br>
        <div class="workntrainButton" style="display: none; margin-top: 50px;margin-bottom: 50px;">
          <p class="w3-large warNotifier w3-text-red"></p>
          <img class="alreadyAtWar" src="../img/gear.gif" style="display:none;width: 100px;" alt="战斗中gif">
          <button class="w3-padding-large w3-round-xxlarge onWar" style="display:none" onclick="dealDamageDefenderSide()"></button>
        </div>
        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
          <button onclick="document.getElementById('defenderModal').style.display='none'" type="button" class="w3-button w3-red w3-left">关闭</button>
        </div>
      </div> <!--end of防守modal-->
    </div>


  </div><!--end of 右侧定制内容-->
</div> <!--end of正文内容-->



<!--Script加载顺序!!!!!-->
<!--加载jquery-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="../js/jquery.hover3d.js"></script>
<script>console.log("Jquery加载完毕")</script>
<script src="../js/handlebars.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>console.log("handlebars加载完毕")</script>

<!--初始化用户并加载user.js-->
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.14.0/dist/av-min.js"></script>
<script src="../js/initLeanCloud.js"></script>
<script src="../js/user.js"></script> <!--登录注册,登出,isCurrentUser-->
<script>console.log("User初始化完毕;")</script>

<!--加载counter.js-->
<script src="../js/counter.js"></script> <!--活动倒计时,东汉年历,当前时间-->

<!--使用jquery 加载navSideBar和userMenu到相关的placeholder中-->
<!--这个script执行完只是call了jquery.load,可能jquery.load要load的内容还没有加载完,此时后面加载的js,如果依赖于load的内容则可能会报错-->
<!--解决办法  $("#nav-placeholder").load("navSideBar.html", function(){ $.getScript("../js/navSideBar.js");}-->
<script>
    $("#nav-placeholder").load("navSideBar.html", function(){
        console.log("navSideBar加载完毕");

        $.getScript("../js/navSideBar.js", function(){
            console.log("navSideBar.js读取完毕,开始执行&displayRightOnLarge");
            displayRightOnLarge();

            $("#userMenu").load("userMenu.html", function(){
                console.log("userMenu加载完毕");
                $.getScript("../js/userMenu.js", function(){
                    console.log("userMenu.js读取完毕,开始执行setupUserData,CountUp,getCurrTime");
                    setupUserData();
                    countUp('June 1, 2019 00:00:00');
                    getCurrTime();
                    $.getScript("../js/translate.js", function(){
                        console.log("translate.js读取完毕,开始执行detectLang");
                        detectLang();
                    });
                    $.getScript("../js/battle.js", function(){
                        evalBattle();
                        battleCountDown();
                        refreshCountDown();
                        autoUpdate();
                    });
                });
            });
        });
    });

    function myFunction() {
        var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
        var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
        var scrolled = (winScroll / height) * 100;
        document.getElementById("myBar").style.width = scrolled + "%";
    }



</script>


</body>
</html>