<!DOCTYPE html>
<html lang="zh">
<head>
  <title>转世三国-模拟三国人生</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/w3.css">
  <link rel="stylesheet" href="../css/all.css">
  <link rel="stylesheet" href="../css/my-style.css">
  <link rel="icon" href="../img/logo.png"/>
  <style>
    .popUpText{
      color: Green; font-size: 25px;
    }
  </style>
</head>

<body class="w3-animate-opacity">

<!--navSideBar placeholder-->
<div style="position: relative" id="nav-placeholder"></div>

<!-- 正文内容-->
<div id="customContent" style="margin-left:0" class="w3-row">

  <!-- 用户菜单 placeholder-->
  <div id="userMenu" class="coolScroll-y w3-col w3-light-gray w3-card-4 w3-center w3-round-xxlarge w3-margin-left w3-margin-right" style="margin-top: 80px; height: 90vh; position:fixed"></div>

  <!--TODO:右侧定制内容-->
  <div id="rightPanel" class="w3-rest w3-card-4 w3-round-xxlarge w3-margin-right w3-light-gray w3-center" style="margin-top:80px;"><br>

    <!--伤害情况提示-->
    <div class="damageNotifier popupFadeout w3-display-topmiddle w3-third w3-round-xxlarge w3-yellow w3-card-4" style="z-index: 2; display: none; position: fixed; height: 50px;line-height: 45px;">
      <div style="text-align: center;" class="popUpText"><span id="modifier"></span><span>您造成了</span><span id="damage"></span><span>点伤害</span></div>
    </div>

    <div class="battleDataContainer">
      <script id="battlePanelData" type="text/x-handlebars-template">
        {{#each battleData}}
        <h1><span class="w3-gray w3-padding-large w3-round-xxlarge">{{{cityName}}}争夺战</span></h1><br>
        <p class="workntrainButton"><span style="font-weight:800;" class="w3-large">离战场结束还有:</span><span style="font-weight:800;" class="w3-text-red" id="battleCountDown"></span></p><br>
        <!-- 进攻方-->
        <div class="w3-red w3-round-xxlarge sideInfo w3-third w3-center">
          <h3>进攻方: {{{invaderName}}}</h3>
        </div>
        <div class="sideInfo w3-third w3-padding w3-center"></div>
        <div class="w3-green w3-round-xxlarge sideInfo w3-third w3-center">
          <h3>防守方: {{{defenderName}}}</h3>
        </div>
        {{/each}}
      </script>
    </div>
      <div class="sideInfo w3-half">
      <p class="w3-red">总伤害: <span id="invaderTotalDmg"></span></p></div>
      <div class="sideInfo w3-half">
      <p class="w3-green">总伤害: <span id="defenderTotalDmg"></span></p></div>

<!--      伤害动态-->
    <div class="w3-col w3-container">
      <div id="invaderRank" class="w3-half">
        <h3>进攻方伤害排行</h3>
          <table id="topRankData" class="w3-table-all w3-card-4" style="width: 50%; margin: auto">
            <tr>
              <th>排名</th>
              <th>伤害</th>
            </tr>
            <tr v-for="rankData in rankDatas">
              <td>第{{ rankData.rank }}名</td>
              <td>{{ rankData.damage }}</td>
            </tr>
          </table>
      </div>
      <div id="defenderRank" class="w3-half">
        <h3>防守方伤害排行</h3>
          <table id="topRankDataDef" class="w3-table-all w3-card-4" style="width: 50%; margin: auto">
            <tr>
              <th>排名</th>
              <th>伤害</th>
            </tr>
            <tr v-for="rankData in rankDatas">
              <td>第{{ rankData.rank }}名</td>
              <td>{{ rankData.damage }}</td>
            </tr>
          </table>
      </div>
    </div>
<!-- 攻击框-->
  <div class="w3-col w3-container">
    <div class="sideInfo w3-third w3-center" >
      <div class="country__card">
        <img id="invaderFigure" src="" alt="进攻方形象" style="width:80%; height:60vh;" onclick="dealDamageInvaderSide();">
      </div>
    </div>

    <div class="w3-third w3-center">

      <div class="w3-half">

        <p style="margin-top: 50px;font-weight: bold">我的伤害</p>
        <p id="myInvaderDmg"></p>
        <p style="font-weight: bold">我的排名</p>
          <table id="adjacentRankData" class="w3-table-all w3-card-4" style="width: 80%; margin: 0px auto">
            <tr>
              <th>排名</th>
              <th>伤害</th>
            </tr>
            <tr v-for="rankData in rankDatas">
              <td>第{{ rankData.rank }}名</td>
              <td>{{ rankData.damage }}</td>
            </tr>
          </table>
      </div>

      <div class="w3-half">
        <p style="margin-top: 50px;font-weight: bold">我的伤害</p>
        <p id="myDefenderDmg"></p>
        <p style="font-weight: bold">我的排名</p>

        <div id="adjacentRankDataDef">
          <table class="w3-table-all w3-card-4" style="width: 80%; margin: 0px auto">
            <tr>
              <th>排名</th>
              <th>伤害</th>
            </tr>
            <tr v-for="rankData in rankDatas">
              <td>第{{rankData.rank}}名</td>
              <td>{{rankData.damage}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>


    <div class="sideInfo w3-third w3-center" >
      <div class="country__card">
        <img id="defenderFigure" src="" alt="防守方形象" style="width:80%; height:60vh;" onclick="dealDamageDefenderSide();">
      </div>
    </div>
  </div>
  </div><!--end of 右侧定制内容-->

</div>
<!--Script加载顺序!!!!!-->
<!--加载jquery-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="../js/jquery.hover3d.js"></script>
<script>console.log("Jquery加载完毕")</script>
<script src="../js/handlebars.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>console.log("handlebars加载完毕")</script>

<!--初始化用户并加载user.js-->
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.14.0/dist/av-min.js"></script>
<script src="../js/initLeanCloud.js"></script>
<script src="../js/user.js"></script> <!--登录注册,登出,isCurrentUser-->
<script>console.log("User初始化完毕;")</script>

<!--加载counter.js-->
<script src="../js/counter.js"></script> <!--活动倒计时,东汉年历,当前时间-->

<!--使用jquery 加载navSideBar和userMenu到相关的placeholder中-->
<!--这个script执行完只是call了jquery.load,可能jquery.load要load的内容还没有加载完,此时后面加载的js,如果依赖于load的内容则可能会报错-->
<!--解决办法  $("#nav-placeholder").load("navSideBar.html", function(){ $.getScript("../js/navSideBar.js");}-->
<script>
    $("#nav-placeholder").load("navSideBar.html", function(){
        console.log("navSideBar加载完毕");

        $.getScript("../js/navSideBar.js", function(){
            console.log("navSideBar.js读取完毕,开始执行setProfileData&displayRightOnLarge");
            setProfileData();
            displayRightOnLarge();

            $("#userMenu").load("userMenu.html", function(){
                console.log("userMenu加载完毕");
                $.getScript("../js/userMenu.js", function(){
                    console.log("userMenu.js读取完毕,开始执行setupUserData,CountUp,getCurrTime");
                    setupUserData();
                    countUp('June 1, 2019 00:00:00');
                    getCurrTime();
                    $.getScript("../js/translate.js", function(){
                        console.log("translate.js读取完毕,开始执行detectLang");
                        detectLang();
                    });
                    $.getScript("../js/battle.js", function(){
                        evalBattle();
                        battleCountDown();
                        autoUpdate();
                    });
                });
            });
        });
    });
</script>


</body>
</html>