<!DOCTYPE html>
<html lang="zh">
<head>
    <title>vue.js测试</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../js/vue.js"></script>
    <style>
        .hr{
            display: block;
            margin: 0.5em auto;
            border-style: inset;
            border-width: 1px;
        }
    </style>
</head>

<body>
<!--
mustache 双括号赋值
Vue.data.message
-->
<div id='app'>{{message}}</div>
<hr class="hr">

<!--v-bind，把 element's attribute 和vue instance's attribute 绑定-->
<div id="app-2">
  <span v-bind:title="message">
    鼠标悬停几秒钟查看此处动态绑定的提示信息！
  </span>
</div>
<hr class="hr">

<!--v-if console里改app3.seen为true查看效果-->
<div id="app-3">
    <p v-if="seen">现在你看到我了</p>
</div>
<hr class="hr">

<!--v-for list-->
<div id="app-4">
    <ol>
        <li v-for="todo in todos">
            {{ todo.text }}
        </li>
    </ol>
</div>
<hr class="hr">

<!--
v-on event listener
Vue.methods.reverseMessage
-->
<div id="app-5">
    <p id="test">{{ message }}</p>
    <button v-on:click="reverseMessage">反转消息</button>
</div>
<hr class="hr">

<!--
v-model two way binding
data model is bound to input
and input is bound to data model
if we change input, data.message will change
if we change data.message, input will change too
works with form input, textarea, and select elements
-->
<div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message">
</div>
<hr class="hr">

<script>
    var app6 = new Vue({
        el: '#app-6',
        data: {
            message: 'Hello Vue!'
        }
    });
    var app5 = new Vue({
        el: '#app-5',
        data: {
            message: 'Hello Vue.js!'
        },
        methods: {
            reverseMessage: function () {
                this.message = this.message.split('').reverse().join('')
            }
        }
    });
    let app4 = new Vue({
        el: '#app-4',
        data: {
            todos: [
                { text: '学习 JavaScript' },
                { text: '学习 Vue' },
                { text: '整个牛项目' }
            ]
        }
    });
    let app3 = new Vue({
        el: '#app-3',
        data: {
            seen: true
        }
    });
    let app2 = new Vue({
        el: '#app-2',
        data: {
            message: '页面加载于 ' + new Date().toLocaleString()
        }
    });
    let app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!'
        }
    });
</script>
</body>
